#main_container {
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

/* sets an example tag */
.example {
	background-color: #6F777B;
	padding: 3px;
	color: #fff;
	font-weight: normal;
}

/* sets example container with tag */
.example_container {
	padding: 15px;
	border: 1px solid #BFC1C3;
	margin: 0;
}

.example_container::before {
	content: "Example";
	border: 1px solid #BFC1C3;
	margin: 0;
	background-color: #6F777B;
	padding: 3px;
	color: #fff;
	position: relative;
	top: 0;
	left: 0;
}

/* Lead paragraph increased font size */
.lead {
	font-size: 24px;
}

/* Typography CSS start */
/*headings*/
.head_1 {
	font-size: 48px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
}

.head_2 {
	font-size: 36px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 25px;
}

.head_3 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 20px;
}

/* Heading secondary */
.head_secondary {
	display: block;
	color: #6F777B;
	font-size: 24px;
	font-weight: normal;
}

.blue {
	color: #005EA5;
}

/* edits background colour of icons when they're hovered over */
.navlist a:hover {
	background-color: #4A90E2;
	color: #F8F8F8;
}

.navlist {
	margin: 15px;
	padding: 0;
}

.sprite {
	opacity: 1.7;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

.navlist a {
	text-decoration: none;
	padding-bottom: 8px;
	border-radius: 5px;
	color: #585C5F;
	display: block;
	width: 120px;
	text-align: center;
}

ul.navlist {
	list-style-type: none;
}
.navlist li {
	display: inline-block;
	vertical-align: top;
	margin-right: 3px;
}

* {
    -webkit-font-smoothing: subpixel-antialiased!important;
}